@charset "UTF-8";

@font-face {
    font-family: ComfortaaRegular;
    src: url('../font/Comfortaa/static/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'SourceSerifLight';
    src: url('../font/Source-Serif-4/static/SourceSerif4/SourceSerif4-Light.ttf');
}

@font-face {
    font-family: 'SourceSerifMediumItalic';
    src: url('../font/Source-Serif-4/static/SourceSerif4/SourceSerif4-MediumItalic.ttf.ttf');
}

@font-face {
    font-family: 'Lobster-Two';
    src: url("../font/Lobster-Two/LobsterTwo-Regular.ttf");
}

.f-family-Lobster {
    font-family: 'Lobster-Two';
    letter-spacing: 1px;
}

.dropdown-menu {
    font-family: 'SourceSerifMediumItalic' !important;
}

.f-family-SourceSerifMediumItalic {
    font-family: 'SourceSerifMediumItalic' !important;
}

.f-family-ComfortaaRegular {
    font-family: 'ComfortaaRegular';
}

* {
    margin: 0px;
    padding: 0px;
}

.font-s-7 {
    font-size: 46px;
}

.mt-6 {
    margin-top: 6rem;
}

.text-card {
    line-height: 30px;
}

.title-card {
    color: #ccc;
}

.border-left-right {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.mt-60-px {
    margin-top: 60px;
}

.span-style-oracao {
    font-size: 25px;
    color: #ccc;
    font-family: Lobster-Two;
    letter-spacing: 1px;
}

.p-style-oracao {
    font-family: 'ComfortaaRegular';
    font-size: 16px;
    line-height: 29px;
    margin-top: 10px;
}

.nome-style-oracao {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
}

.border-radius {
    border-radius: 100%;
}
