@charset "UTF-8";

@font-face {
    font-family: ComfortaaRegular;
    src: url('../font/Comfortaa/static/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'SourceSerifLight';
    src: url('../font/Source-Serif-4/static/SourceSerif4/SourceSerif4-Light.ttf');
}

@font-face {
    font-family: 'SourceSerifMediumItalic';
    src: url('../font/Source-Serif-4/static/SourceSerif4/SourceSerif4-MediumItalic.ttf.ttf');
}

@font-face {
    font-family: 'Lobster-Two';
    src: url("../font/Lobster-Two/LobsterTwo-Regular.ttf");
}

@font-face {
    font-family: 'Lobster-Two-BoldItalic';
    src: url("../font/Lobster-Two/LobsterTwo-BoldItalic.ttf");
}

.f-family-LobsterTwoBoldItalic {
    font-family: 'Lobster-Two-BoldItalic';
}

.f-family-Lobster {
    font-family: 'Lobster-Two';
    letter-spacing: 1px;
}

.dropdown-menu {
    font-family: 'SourceSerifMediumItalic' !important;
}

.f-family-SourceSerifMediumItalic {
    font-family: 'SourceSerifMediumItalic' !important;
}

.f-family-ComfortaaRegular {
    font-family: 'ComfortaaRegular';
}

* {
    margin: 0px;
    padding: 0px;
}

.font-s-7 {
    font-size: 46px;
}

.mt-6 {
    margin-top: 6rem;
}

.text-card {
    line-height: 30px;
}

.title-card {
    color: #ccc;
}

.border-left-right {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.mt-60-px {
    margin-top: 60px;
}

.span-style-oracao {
    font-size: 25px;
    color: #ccc;
    font-family: Lobster-Two;
    letter-spacing: 1px;
}

.p-style-oracao {
    font-family: 'ComfortaaRegular';
    font-size: 16px;
    line-height: 29px;
    margin-top: 10px;
}

.nome-style-oracao {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
}

.border-radius {
    border-radius: 100%;
}

.w-50porc {
    width: 50%;
}

.w-25porc {
    width: 25%;
}

.w-75porc {
    width: 75%;
}

.w-30porc {
    width: 30%;
}

.w-65porc {
    width: 65%;
}

.card-grupo {
    background-color: #010101;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    color: white;
}

.border-gold {
    border: 5px white groove;
    margin: 10px;
    height: 95%;
    padding-top: 10px;
}

.title-card-grupo {
    font-family: Lobster-Two-BoldItalic;
}

.description-card-grupo {
    font-family: SourceSerifLight;
    line-height: 31px;
}

.date-begin {
    font-size: 13px;
    font-family: SourceSerifMediumItalic;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/images-web/holy-bible.webp');
    background-size: 100%;
    background-repeat: no-repeat;
}

.f-size-20px {
    font-size: 20px;
}

.f-size-28px {
    font-size: 28px;
}

.w-100porc {
    width: 100%;
}

.w-65porc {
    width: 65%;
}
.bg-dark-tranparent {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
}

.rounded-100 {
    border-radius: 100%;
}

.line-height-33 {
    line-height: 33px;
}
